In [1]:
3+5

8

In [3]:
greet="Hello World"
greet[1:5]

'ello'

In [7]:
greet[0::5]

'H d'

In [9]:
robot="technologically"
consoles="ps4 is cooler than xbox!"
code="ply2t3h4o5n6i7c8"
words="I saw a cat jump over the moon and into the clouds"
new_words="I saw a cow fly over the gates and into the forest"
paid ="I received a total of $5000"

In [10]:
len(robot)

15

In [11]:
robot

'technologically'

In [13]:
robot[0:6]

'techno'

In [14]:
code

'ply2t3h4o5n6i7c8'

In [15]:
code[0::2].upper()

'PYTHONIC'

In [18]:
code[1::2][::-2]

'8642'

In [22]:
var=words.split()
var
words

['I',
 'saw',
 'a',
 'cat',
 'jump',
 'over',
 'the',
 'moon',
 'and',
 'into',
 'the',
 'clouds']

In [1]:
toys={"robot":"$40.0","car":"$25","ironman":"$12"}
toys

{'robot': '$40.0', 'car': '$25', 'ironman': '$12'}

In [17]:
int(eval(list(toys.values())[0][1:])+eval(list(toys.values())[1][1:])+eval(list(toys.values())[2][1:]))

77

In [24]:
questions=[10 !=4,50== 50,90 ==10,"c" in ("a","b","c"), 100 !=100]
questions

[True, True, False, True, False]

In [25]:
filims={"k1":"blade runner 2049","k2":"matrix","k3":"terminator"}
filims

{'k1': 'blade runner 2049', 'k2': 'matrix', 'k3': 'terminator'}

In [26]:
2+3

5

In [32]:
len(filims["k1"])>len(filims["k2"])<len(filims["k3"])

True

In [34]:
type(filims)

dict

In [38]:
life_stage={0:"embryo",1:"fetus",2:"baby",3:"infant",4:"teen"}
life_stage

{0: 'embryo', 1: 'fetus', 2: 'baby', 3: 'infant', 4: 'teen'}

In [40]:
midlife={5:"adult",6:"big kid!"}

In [41]:
midlife

{5: 'adult', 6: 'big kid!'}

In [44]:
life_stage.update(midlife)

midlife

In [45]:
midlife

{5: 'adult', 6: 'big kid!'}

In [46]:
life_stage

{0: 'embryo',
 1: 'fetus',
 2: 'baby',
 3: 'infant',
 4: 'teen',
 5: 'adult',
 6: 'big kid!'}

In [47]:
nest1=[(1,2,3),{"k1":[30,1,300,2,77],"k2":[10,20,30]},["a","500","c"]]
nest1

[(1, 2, 3), {'k1': [30, 1, 300, 2, 77], 'k2': [10, 20, 30]}, ['a', '500', 'c']]

In [71]:
float(nest1[0][2]+sorted(nest1[1]["k1"])[-1]+nest1[1]["k2"][2]+eval(nest1[2][1]))

833.0

In [78]:
prices=["a","b","9","c","d","Four","e","f","2.5"]

In [106]:
cash=prices[2::3]
a=eval(cash[0])
b=len(cash[1])
c=eval(cash[2])
total=a+b+c
total

15.5

In [90]:
sentence="""The bill for the {}#!/,?? {}#!/ ??and drink came to {}??"""

In [113]:
sentence.format("pizza","chips","$"+str(total)).replace("#","").replace("!","").replace("/","").replace("??","")

'The bill for the pizza, chips and drink came to $15.5'

In [114]:
d1={"k1":[1,2,3,(10,300,500)],"k2":[4,5,6,["phone","computer","robot"]]}
var=eval(input("Enter a number: "))
if(var in d1["k1"]):
    print("found you!")
    num=input("Enter a number")
    (num) in  d1["k2"][:3]:
        print("Found another one!")
        item =input("Enter an item: ")
        
        if item in d1["k2"][3]:
            print("Got a",item)
        else 
            print("Can't find a",item)
            
            print("can find anything!")
elif var in d1["k1"][3]:
    print("can't hide!")
else :
    print("where are you")

In [123]:
number=list(range(0,110,10))
first=[]
x=0;
while(x<len(number)):
    s=number[x]*2.5
    if s%2==0:
        first.append(int(s))
    x+=1;
first

[0, 50, 100, 150, 200, 250]

In [122]:
len(number)

11

In [173]:
students=["nAtalie","M","Fa ye","Callum","Tara"]
cell=[]
for i in students:
    if(len(i)>1): 
        s=i.upper().replace(" ","")

In [150]:
d1={"k1":[20,30,40],"k2":[1000,2000,3000]}
for i in d1:
    print(i)

k1
k2

In [163]:
x=0;y=0
while y<8:
    for x in range(4,9):
        print("Y=",y)
        print("______")
        print("X is equal to ",x)
        print("____")
        x+=1
        y+=2;

Y= 0
______
X is equal to  4
____
Y= 2
______
X is equal to  5
____
Y= 4
______
X is equal to  6
____
Y= 6
______
X is equal to  7
____
Y= 8
______
X is equal to  8
____

In [182]:

import random as rd

len(dir(random))
dir(random)
rd.random()
rd.randint(10,15)

10

In [193]:
animals=["\N{cat}","\N{dog}","\N{sheep}","\N{horse}"]
animals

['ðŸˆ', 'ðŸ•', 'ðŸ‘', 'ðŸŽ']

In [194]:
type(animals)

list

In [195]:
rd.shuffle(animals)

In [199]:
animals[3]

'ðŸˆ'

In [200]:
rd.choice

In [203]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [216]:
import datetime
x=datetime.datetime.day.
x

SyntaxError: invalid syntax (4026830641.py, line 2)

In [217]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [218]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [219]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [220]:
def my_function(x):
  return 5 * x

my_function(3)

15

In [222]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
   # print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results

21

In [223]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [224]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x00000236D483C950>

In [225]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [226]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [236]:
class Person:
  def __init__(mysillyobject, age, name):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.age)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [237]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [238]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [239]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [240]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [241]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [242]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [243]:
2+3

5

In [258]:
f = open("test.txt", "r")
for x in f:
    print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

In [259]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

In [1]:
cls

In [2]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [3]:
print(a)

NameError: name 'a' is not defined

In [7]:
x=10
try:
  print(x/0)
except NameError:
  print("Variable x is not defined")
except ZeroDivisionError:
  print("infinate error")

infinate error

In [8]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [9]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

10
The 'try except' is finished

In [10]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [13]:
import mysql.connector

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="GOKUL-KUMAR",
  user="root",
  password="gokulkumar111"
)

print(mydb)

DatabaseError: 1130 (HY000): Host 'GOKUL-KUMAR' is not allowed to connect to this MySQL server

In [15]:
MySQL CURRENT_USER()

SyntaxError: invalid syntax (566060787.py, line 1)

In [16]:
import numpy
arr = numpy.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]

In [17]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [18]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [19]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64